*{
    margin:0
}
.navbar{
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    display:flex;
    justify-content: space-between;
    height:10vh;
    padding-top: 3vh;
}
.logo{
    color: white;
    padding-left: 3%;
}
.nav-links ul{
    color: white;
    display: flex;
    padding-right: 3%;
    flex-direction: row;
    gap:20px;
}
.nav-links{
    padding-right: 3%;
}