/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
  color: white;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Logo */
.navbar-logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color:blue;
}

/* Links container */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

/* Links */
.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

/* Hover effect */
.navbar-links a:hover {
  color:blue;
}